body{
    background: rgb(2, 1, 0);
    margin:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:100px;

}
h1{
    position:fixed;
    bottom:0;
    background-color: rgb(238, 164, 27);
    padding:10px;
    width:100%;
    color: rgb(7, 7, 6);
    font-size:20px;
    margin:0;
    text-align: center;
    z-index:2;
}
#table{
    position:fixed;
    font-size:40px;

    top:35%;
    left:10%;
    width:80%;
}
td{
    text-align:center;
    background: cyan;
    font-size:20px;
    line-height:300%;
}

.timer-container{

    position:fixed;
    top: 20%;
    /* left:2%; */
    border:5px ridge gray;
    color: yellow;
    width:97%;
    background: transparent;
    text-align:left ;
    line-height:100%;
    font-size:30px;
    padding-bottom:10px ;
    padding-top:10px ;
    
}
#timer{
    position:relative;
    font-size:50px;
    left:15%;
}
#next-number{
    position:fixed;
    border:10px ridge gray;
    width:96%;
    /* background: rgb(23, 212, 156); */
    text-align:center;
    line-height:100%;
    color: yellow;
    
}
#level{
    position:fixed;
    top:30%;
    /* left:30%; */
    width:100%;
    height:100%;
    background-color: rgb(110, 4, 209);
    font-size:50px;
    text-align:center;
    color:red;
    /* display:none; */
    z-index:1
}

.level-choice {
    font-size:35%;
    position:relative;
    left:40%;
    margin:5px;
    border:3px solid black;
    border-radius:10px;
    background-color:rgb(6, 72, 253);
    width:20%;
}
.level-coice:hover {
    background-color:rgb(111, 144, 236);

}
.winner{
    font-size:60px;
    color: orange;
    background-color: black;
}