body{
    background: rgb(2, 1, 0);
    margin:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family:impact;
    font-size:100px;

}
h1{
    position:fixed;
    bottom:0;
    background-color: rgb(238, 164, 27);
    padding:10px;
    width:100%;
    color: rgb(7, 7, 6);
    font-size:20px;
    margin:0;
    text-align: center;
    z-index:2;
    border:10px sold black;
}
#table{
    position:fixed;
    font-size:40px;
    z-index:3;
    top:10%;
    /* left:10%; */
    width:100%;
}
td{
    text-align:center;
    background: cyan;
    font-size:20px;
    line-height:300%;
}

.timer-container{

    position:fixed;
    top: 80%;
    color: yellow;
    width:97%;
    background: transparent;
    text-align:left ;
    line-height:100%;
    font-size:30px;
    padding-bottom:10px ;
    padding-top:10px ;
    
}
#timer{
    position:fixed;
    font-size:20px;
    /* left: 45%; */
}
#next-number{
    position:fixed;
    border:1px solid gray;
    width:96%;
    text-align:center;
    line-height:30%;
    color: yellow;
    
}
#level{
    position:fixed;
    /* top:30%; */
    width:100%;
    height:100%;
    background-color: rgb(110, 4, 209);
    font-size:50px;
    text-align:center;
    color:red;
    z-index:1
}

.level-choice {
    font-size:65%;
    position:relative;
    top:100px;
    border:3px solid black;
    border-radius:50%;
    background-color:rgb(231, 176, 23);
    width:30%;
    padding:25px;
    margin:0px;
}
.level-choice:hover {
    background-color:rgb(111, 144, 236);

}
.winner{
    font-size:60px;
    color: orange;
    background-color: black;
}
